
body {
    margin: 20px;
    background-color: lightblue;
    font-family: sans-serif;
}

main{
    width: 500px;
    margin: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
}

hr{
    border: 1px solid black;
}

.error{
    color: red;
}
.mensaje{
    color:blue;
}

.datos-recibidos {
    font-size: 1.3rem;
    color: green;
    border: 1px solid green;
    padding: 10px;

}

.centrado{
    text-align: center;
    
}